@import "src/styles/variables";

.customCheckbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: none;
  width: 35px;
  height: 35px;
  border: 1px solid $white;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
  transition: 120ms background-color ease-in-out;
  @media screen and (max-width: 820px) {
    display: none;
  }

}

.customCheckbox:checked {
  background-color: $dark-purple;
  border-color: $dark-purple;
  background-position: center;
  background-repeat: no-repeat;
}

