@import "src/styles/variables";

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.modal {
  position: fixed;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 100px 50px;
  z-index: 1000;
}

.closeModal {
  all: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
}