@import "src/styles/variables";

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1;
}

.modal {
  position: fixed;
  max-width: 500px;
  width: calc(100% - 100px);
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 2;
  @media screen and (max-width: 620px) {
    width: calc(100% - 60px);
  }
}

.closeModal {
  all: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
  @media screen and (max-width: 620px) {
    top: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
  }

  & > img {
    @media screen and (max-width: 620px) {
      width: 10px;
      height: 10px;
    }
  }
}

.lockScroll {
  overflow: hidden;
}