.todosWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.todosContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noTodos {
  text-align: center;
  font-size: 50px;
}

