@import "src/styles/variables";

.button {
  border-radius: 15px;
  padding-block: 18px;
  font-weight: 600;
  font-size: 25px;
  color: $white;
  background: rgba(76, 79, 141, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;

}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}