@import "src/styles/variables";

.button {
  border-radius: 20px;
  font-size: $font-default;
  cursor: pointer;
}

.button.sm {
  padding: 12px;
  background: $white;
  color: $purple;
  box-shadow: none;
  @media screen and (max-width: 620px) {
    font-size: $font-small;
    padding: 10px;
  }
}

.button.lg {
  padding: 18px;
  font-weight: 600;
  color: $white;
  background: rgba(76, 79, 141, 1);
  @media screen and (max-width: 620px) {
    font-size: $font-small;
    padding: 15px;
    border-radius: 15px;
  }
  @media screen and (max-width: 620px) {
    padding: 10px;
    border-radius: 10px;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}