$purple: #9395d3;
$dark-purple: rgba(76, 79, 141, 1);
$light-purple: #B3B7EE;
$white: #fff;
$black: #000;
$red: #ff0000;
$green: #008000;
$grey: #8b8787;
$font-big: 35px;
$font-medium: 30px;
$font-default: 20px;
$font-small: 15px;
