@import "src/styles/variables";

.pageLayout {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $light-purple;
}

.pageLayoutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1640px;
  margin-block: 20px;
}