.addTaskForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formWrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .formTitle {
    font-size: 35px;
  }
}