@import "src/styles/variables";

.searchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
  border: 2px solid $light-purple;
  border-radius: 15px;
  background-color: $white;

  & > input {
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    margin-right: 20px;
    padding-block: 16px;
    font-size: $font-default;
    letter-spacing: 0.2px;
    @media screen and (max-width: 520px) {
      font-size: $font-small;
    }
  }
}